body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

    width: auto; height: auto; 
    background-color:rgb(153, 194, 245);
    color: aqua;
    
}
     



   .text {

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;  
    background-position: auto;
    margin-left: 20%; margin-bottom: 60%;
    background-color: white;
    color: black;
    display: inline;
   } 




.figure{
    
 
    width: 20px; height: 20px;  
margin: 20px;
padding-right: 10px;
}
 



#hpoter #pfoter {
    background-position: bottom, center;
    size: 100px;
    background-color: rgb(rgb(88, 36, 231), 0,0);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    

}
    
    
